[loraserver]
example.com				ansible_ssh_user=example-user

[gateway_bridge]
example.com				ansible_ssh_user=example-user

[mosquitto]
example.com 				ansible_ssh_user=example-user

[postgresql]
example.com 				ansible_ssh_user=example-user

[redis]
example.com				ansible_ssh_user=example-user

[lora_gateway_bridge]
example.com             ansible_ssh_user=example-user

[lora_app_server]
example.com             ansible_ssh_user=example-user


[all:children]
loraserver
gateway_bridge
mosquitto
postgresql
redis
